<p>
    Hello,
</p>
<p>
    Thanks for registering with Reyooz. 
</p>
<p>
    Please activate your account by going to:
    <br/>
    <a href="{{base_url}}/users/{{user.id}}/verify?magic_key={{user.get_profile.magic_key}}">
        {{base_url}}/users/{{user.id}}/verify?magic_key={{user.get_profile.magic_key}}
    </a>
</p>
<p>
    Please note: this is an automated email so do not reply to this message.
    Instead, contact us through the feedback form on 
    <a href="{{base_url}}">Reyooz.org</a> or email us on help@reyooz.org.
</p>
<p>
    Thanks!
</p> 
    The Reyooz Team
    <br/>
    move it, find it, keep it
</p>
