{% extends "base.html" %}

{% block title %}500 Server Error{% endblock %}

{% block content %}
<div class="confirmation">
    <div class="wrapper">
        <h1>Bang!</h1>
        <p>
            Oh dear, something has gone wrong with the server. Don't worry, our geeks 
            in the backroom have already received email, twitter and facebook alerts, and are 
            sorting it out right now. Please try checking back in a moment, or <a href='/'>start again.</a>
        </p>
    </div>
</div>
{% endblock %}