<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta content="en-gb" http-equiv="Content-Language" />
        <meta content="A great way to clear clutter or find stuff you really need... all for free!" name="description" />
        
        {% block title %}<title>REYOOZ - Don't dump your junk, re-use it</title>{% endblock %}
        {% block css %}<link rel="stylesheet" href="/static/css/core.css?{{cache_buster}}" type="text/css" media="all" title="Reyooz style" charset="utf-8">{% endblock %}
        
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        
        {% block js %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>