{% extends "base.html" %}

{% block content %}
    <div id="reportSpam">
        <div class="wrapper">
            {% if success %}
                <p>
                    <strong>Thank you.</strong>
                </p>
                <p>
                    The message you received has been flagged as spam and/or inappropriate, and we are looking into it. 
                    Making Reyooz a fun and safe community is a high priority for us. We'll be looking into this 
                    message and will take appropriate action where necessary.
                </p>
            {% else %}
                <p>
                    Sorry, we couldn't flag the message for the following reason(s):
                    <ul>
                        {% for error in errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </p>
                <p>
                    Please click on the link in the email you received to flag a message as spam and/or inappropriate. 
                    If you are copying and pasting the link into your browser then ensure that the link is copied in full.
                </p>
            {% endif %}
            <p>
                If you're ready, head back to <a href='/'>Reyooz.org</a>.
            </p>
        </div>
    </div>
{% endblock %}
